﻿<!--
       _..._      .-'''-.       .-'''-.       .-'''-.
    .-'_..._''.  '       \    '   _    \    '         \_______
  .' .'      './   /` '.   \ /   /` '.   \ /   /` '.   \  ___ `'.        __.....__
 / .'         .   |     \  '.   |     \  '.   |     \  '' |--.\  \   .-''         '.
. '           |   '  嘿  |  |   '  嘿  |  |   '   嘿 |  | |    \  ' /     .-''"'-.  `.
| |           \    \     / /\    \     / /\    \     / /| |     |  /     /________\   \
| |            `.   ` ..' /  `.   ` ..' /  `.   ` ..' / | |     |  |                  |
. '               '-...-'`      '-...-'`      '-...-'`  | |     ' .\    .-------------'
 \ '.          .                                        | |___.' /' \    '-.____...---.
  '. `._____.-'/            亲，别偷看哦                /_______.'/   `.             .'
    `-.______ /                                        \_______|/      `''-...... -'       `
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_block %}{% endblock %}
    <title>{% block title %} COODE {% endblock %}</title>

    <!-- Semantic -->
    <link href="{{rc.contextPath}}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{rc.contextPath}}/assets/css/coode.site.css" rel="stylesheet">

    {% block css_block %}{% endblock %}

    <script src="{{rc.contextPath}}/assets/js/jquery.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var app = {
            contextPath: '{{rc.contextPath}}'
        }

    </script>
    {% block head_block %}{% endblock %}

</head>
<body>

{% block content %}{% endblock %}

<script src="{{rc.contextPath}}/assets/js/bootstrap.min.js"></script>
{% block js_block %}{% endblock %}
</body>
</html>