
{% extends "../layout/base.html" %} {% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.userinfo.css" rel="stylesheet">
<link href="{{rc.contextPath}}/assets/css/coode.home.css" rel="stylesheet">
<link href="{{rc.contextPath}}/assets/css/coode.favorite.css" rel="stylesheet">

{% endblock %} {% block js_block %}
<script src="{{rc.contextPath}}/assets/js/coode.userinfo.js" type="text/javascript">
</script>
<script src="{{rc.contextPath}}/assets/js/ajaxupload.3.9.js" type="text/javascript">
</script>

{% endblock %} {% block content %}
<!--{{USERINFO}}-->

<!--
  <p>收藏文章</p><form action="{{rc.contextPath}}/insertfavtitle" method="post"> nodeid: <input type="text" name="nodeid"
  /><br /> favid：<input type="text" name="favoriteid" /><br /> <button type="submit">Submit</button> </form>
-->

<div class="row userinfo">
  <div class="userinfo-left">
    <div class="photo" id = "photo">
    <img src="{{rc.contextPath}}/assets/{% if USERINFO.HEAD_ID|equal:‘’ %}images/avatar-180x180.png {% else %}photo/{{USERINFO.HEAD_ID}}{%  endif %}" alt="头像">
    </div>
    <div class="photo-edit hide" id="photo-edit">
	    <div class="uploadImg" id = "photo">  
	    <div id="photobackground">
	    <img id="imgShow" src="{{rc.contextPath}}/assets/{% if USERINFO.HEAD_ID|equal:‘’ %}images/avatar-180x180.png {% else %}photo/{{USERINFO.HEAD_ID}}{%  endif %}" alt="头像"/>  
	    </div>
	    <input type="hidden" id="hidImgName" />  
	    <div id="btnupload">
	    <input type="button" id="btnUploadImg" value="自定义头像" />  
	    </div>
	    <div id="btndelete">
	    <input type="button" id="btnDeleteImg" value="使用默认头像" />  
	    </div>
		</div> 
    </div>
       <div id="clear">
      </div>
    <div class="usercount">
      <div id="statpost">
        <div class="description">
          发帖
        </div>
        <div class = "countnum">
          {{USERINFO.STAT_POST}}
        </div>
      </div>
      <div class="line">
      </div>
      <div id="statreply">
        <div class="description">
          回帖
        </div>
        <div class = "countnum">
          {{USERINFO.STAT_REPLY}}
        </div>
      </div>
      <div class="line">
      </div>
      <div id="credit">
        <div class="description">
          威望
        </div>
        <div class = "countnum">
          {{USERINFO.CREDIT}}
        </div>
      </div>
    </div>
    <div class="connection">
      <div class="btn" id = "email">
     	 <a href="">
        Email
        </a>
      </div>
      <div class="btn" id="wineim">
        Wineim
      </div>
    </div>
  </div>
  <div class="userinfo-right" id = "userinfo-show">
    <div class="reading">
      <div id ="name">
        {{USERINFO.NICK_NAME}}
      </div>
      <div id="activedays">
        活跃天数 103
      </div>
      <div id="clear">
      </div>
      <div id="dept">
      {% if USERINFO.DEPT_VISIBLE|equal:1%}
        {{USERINFO.DEPT}}
        {%endif%}
      </div>
      <div id="position">
        {% if USERINFO.DEPT_VISIBLE|equal:1 %}{% if USERINFO.POSITION|equal:''|not%}，{% endif %}{% endif %}{{USERINFO.POSITION}}
      </div>
      <div class="user-tag">
        <div class="userinfo-label">
          已订标签：
        </div>
        <div id = "tag-group">
<!--        {{tagList}}
        <br/>-->
           {%for tempVar in tagList %}
				      <span class="tag label label-default" id="{{tempVar.TID}}"><a  href={{rc.contextPath}}/tagsDetail?TID={{ tempVar.TID }} >{{ tempVar.NAME }}</a><a class="tag-action hide"></a></span>
            {%endfor%}
        </div>
        <div id="clear">
        </div>
      </div>
      <div class="userinfo-label">
        项目经验：
      </div>
      <div id="projexp">
        {{USERINFO.PROJ_EXP}}
      </div>
    </div>
  </div>
</div>
<!--{{COUNTS}}-->
<div class="row nodeinfo">
	<ul class="nav nav-tabs">
    <li class="active"><a id="mypost" class = "mynodes" userid = "{{USERINFO.ID}}">发起({{COUNTS.MYPOST}})</a></li>
    <li ><a id="myreply" class = "mynodes" userid = "{{USERINFO.ID}}">回应({{COUNTS.MYREPLY}})</a></li>
	</ul>
	<div id = "nodelist">
		
	</div>
</div>

{% endblock %}
