{% extends "../layout/blank.html" %}

{% if errorCode |equal: 'REDIRECT' %}

{% block js_block %}
<script type="text/javascript">
    window.location.href = "{{rc.contextPath}}/{{errorMsg}}";
</script>
{% endblock %}

{% else %}

{% block content %}

<div id="page" class="container">
    <!-- {{errorCode}}: {{errorMsg}} -->
    <div class="row">
    <img src="{{rc.contextPath}}/assets/images/404.jpg">
    </div>
</div>
{% endblock %}

{% endif %}