{% extends "./layout/base.html" %}

{% block content %}
<style>
	ul li{
	  cursor:pointer;
	}	
	
</style>
<ul class="nav nav-tabs">
    <li ><a href="{{rc.contextPath}}/messages">未读消息</a></li>
    <li class="active" href="#"><a href="#">已读消息</a></li>
    <li class="pull-right" data-toggle="modal" data-target="#myModal"><a href="#">设置消息提醒</a></li>
</ul>
	<div id="msgList" class="container">
	 {%for tempVar in list %}
	 <dd >
	 <div class="row">
	 <div style=" width:500px;float:left;height:50px;" ><lable>{{tempVar.userName}}</lable>在您发表的    "<a href="#" style="font-color:red;">{{tempVar.messageContent}}</a>
	"{%if tempVar.messageType | equal:'1'%} 做了评论 {% endif %}
	 {%if tempVar.messageType | equal:'2'%} 做了回复 {% endif %}
	 {%if tempVar.messageType | equal:'3'%} 点了赞 {% endif %}
	  {%if tempVar.messageType | equal:'4'%} 做了收藏 {% endif %}
	   <button id="{{tempVar.id}}" style="display:none;" class="btn">删除</button></div>
	  <div style="width:300px; float:right;height:50px;"> {{ tempVar.createdAt|date:yyyy年MM月dd日}}</div> 
	  </div>
	</dd>
	{%endfor %}
	
	
	<!-- 分页条 -->
    <div class="row" style="text-align: center;" >
        {% if pager.empty | not %}
        <ul class="pagination">
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
                <a href={{rc.contextPath}}/messages?currentPage=1>
                <img src="{{rc.contextPath}}/assets/images/pager-first{% if pager.isFirst %}-disable{% endif %}.png">
            </a>
            </li>
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
            <a href={{rc.contextPath}}/messages?currentPage={{pager.prevPage}}>
                <img src="{{rc.contextPath}}/assets/images/pager-prev{% if pager.isFirst %}-disable{% endif %}.png">
            </a>
            </li>
            {% for i in pager.pageRange %}
            <li {% if i |equal: pager.currentPage %}class="active"{% endif %}>
                <a href={{rc.contextPath}}/messages?currentPage={{i}}>{{i}}</a>
            </li>
            {% endfor %}
            
            <li {% if pager.isLast %}class="disabled"{% endif %}><a href="{{rc.contextPath}}/messages?currentPage={{pager.nextPage}}">
                <img src="{{rc.contextPath}}/assets/images/pager-next{% if pager.isLast %}-disable{% endif %}.png">
            </a></li>
            <li {% if pager.isLast %}class="disabled"{% endif %}><a href={{rc.contextPath}}/messages?currentPage={{pager.pageCount}}>
                <img src="{{rc.contextPath}}/assets/images/pager-last{% if pager.isLast %}-disable{% endif %}.png">
            </a></li>
        </ul>
        {% endif %}
    </div>
	</div>
<!--	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">设置消息提醒</h4>
      </div>
      <div class="modal-body">
        <form action="" id="formId">
        	<input type="checkbox" id="f1" value="f1"/><label for="f1">当有人回复我时不在提醒</label><br/>
        	<input type="checkbox" id="f2" value="f2"/><label for="f2">当有人@我时不再提醒</label><br/>
        	<input type="checkbox" id="f3" value="f3"/><label for="f3">当有人收藏了我的文章时不在提醒</label><br/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="saveBtn" type="submit" class="btn btn-primary" >保存</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{{rc.contextPath}}/assets/js/coode.message.js"></script>
<script type="text/javascript">
	
		$("#saveBtn").click(
		function(){
			alert($("#formId input:checked").get(1).value);
			       /* $.ajax({
			            url: 'messages2',
			            dataType: 'json',
			            data:{"setting":$("#formId input").val()},
			            success: function(data) {
			               if(true){
			            	   $('#myModal').modal('hide');
				               }
			            }
			        })*/

	})
	


</script>

{% endblock %}