{%if  list|length |equal: '0' %}
 {% endif %}
{% if  list|length |equal: '0' | not %}
		 {%for tempVar in list %}
				 {% if tempVar.ISREPLY | equal:'0' %}
				 <div class="modal fade ext" id={{tempVar.ID}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">有人向你求急救</h4>
				      </div>
				      <div class="modal-body">
							<a href="#">{{tempVar.NAME}}</a>在{{tempVar.TIME | date:"yyyy/MM/dd  HH:mm"}}向您发出求救！
							<a href="#">{{tempVar.MESSAGE}}</a><br/>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default " data-dismiss="modal">不加入</button>
				        <a href={{rc.contextPath}}/sosAdd?sosId={{tempVar.ID}}><button type="button" class="btn btn-primary " >加入</button></a>
				      </div>
				    </div>
				  </div>
				</div>
				 {% else %}
				 <div class="modal fade ext" id={{tempVar.ID}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">你的急救有回复了！</h4>
				      </div>
				      <div class="modal-body">
							
							<a href="#">{{tempVar.NAME}}</a>在{{tempVar.TIME | date:"yyyy/MM/dd  HH:mm"}}向您发了出求救回复
							<a href="#">{{tempVar.MESSAGE}}</a><br/>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default " data-dismiss="modal">关闭</button>
				        <a href={{rc.contextPath}}/sosAdd?sosId={{tempVar.ID}}><button type="button" class="btn btn-primary " >查看详细</button></a>
				      </div>
				    </div>
				  </div>
				</div>
				{% endif %}
		
		{%endfor %}

{% endif %}