{% for comment in comments %}
<ul class="media-list">
	<li class="media">
	<!-- 评论已被删除  -->
	{% if comment.status | equal : 3 %}
		<div class="col-md-2">
			<a class="pull-left media-object thumbnail"
				href="" style="width: 90px; height: 90px; margin:0px;">
				<img src="..." alt="暂无图片">
			</a>
		</div>
		<div class="col-md-10 media-body well well-lg" style="padding:8px 14px 8px 6px; min-height:120px;">
			<div class="row" style="margin:25px 5px 25px 15px;text-decoration:line-through;">
				<div id="content{{comment.id}}">  对不起，该评论已被删除  </div>
			</div>
			
			<div class="row" style="text-align:right;">
				<a data-toggle="collapse" data-target="#demo{{comment.id}}" comment="{{comment.id}}">
					查看回复({{comment.stat_comments}})
				</a>
			</div>
			<div id="demo{{comment.id}}" class="row collapse" style="margin-top:10px;margin-left:8px;">
				{% for lv2comment in comment.commentlv2 %}
				<div id="comment{{lv2comment.id}}"  class="row" style="margin-top:5px;margin-bottom:5px;">
					<ul class="media-list">
						<li class="media" style="margin-top:0px;padding:5px;">
							<div style="text-align:center">
								<a class="watchuserinfo col-md-2 pull-left media-object thumbnail" href="ucbyid?userid={{lv2comment.created_by}}" style="margin-right:10px;" author="{{lv2comment.created_by}}">
							      <img style="width: 80px; height: 80px;" src="..." alt="暂无图片" >
							    </a>
						    </div>
							<div class="col-md-9 media-body well well-lg"  style="padding:5px;min-height:90px;" >
								<div class="row">
									<h5><a class="watchuserinfo" href="ucbyid?userid={{lv2comment.created_by}}" style="float:left;text-align:right;margin:1px 10px 1px 5px;" author="{{lv2comment.created_by}}">{{lv2comment.reply_by.NICK_NAME}}</a></h5>
									<span style="float:left;font-size:0.7em;">{{lv2comment.created_at|date:yyyy-MM-dd hh:mm}}</span>
									<span style="float:right;">
										{% if userid | equal: lv2comment.created_by %}
										<button class="delcomment close"
											data-toggle="modal" data-target="#delComment"
											comment="{{lv2comment.id}}"
											url="{{rc.contextPath}}/delreply?replyid={{lv2comment.id}}">
											&times;
										</button>
										{% endif %}
									</span>
								</div>		
								<div class="row" style="padding:5px 5px 10px 15px;">
									<div id="content{{lv2comment.id}}">{{lv2comment.content}}</div>
								</div>
							</div>
						</li>		
					</ul>
				</div>
				{% endfor %}
				<form action="{{rc.contextPath}}/reply" method="post" >
					<textarea class="form-control" rows="3" name="content" maxlength="140"
						placeholder="不水能死何弃疗"></textarea>
					<input id="postid" type="hidden" name="postid" value="{{nodeid}}" />
					<input id="replyid" type="hidden" name="replyid" value="{{comment.id}}" />
					<input type="hidden" name="type" value="7" />
					<button type="submit" class="addcomment btn btn-default" style="margin-top:10px; float:right">发布</button>
				</form>
			</div>
		</div>
		
	{% else %}
		<div class="col-md-2" style="text-align:center">
			<a class="watchuserinfo pull-left media-object thumbnail" href="ucbyid?userid={{comment.created_by}}" style="width: 90px; height: 90px;margin:0px;" author="{{comment.created_by}}">
				<img src="..." alt="暂无图片">
			</a>
			<a type="button" class="btn btn-default" style="padding:2px 4px 2px 4px;margin-top:5px;" onclick="clk3(this,{{comment.id}});">
			 	<span class="glyphicon glyphicon-heart-empty" >{{comment.stat_upvotes}}</span>
			</a>
		</div>
		<div id="comment{{comment.id}}" class="col-md-10 media-body well well-lg" style="padding:8px 14px 8px 6px; min-height:120px;">
			<a href="#comment{{comment.id}}"></a>
			<div class="row" style="margin-bottom:10px;">
				<h5><a class="watchuserinfo" href="ucbyid?userid={{comment.created_by}}" style="float:left;padding:0px 8px 1px 10px;" author="{{comment.created_by}}">{{comment.reply_by.NICK_NAME}}</a></h5>
				<span style="float:left;font-size:0.7em;">{{comment.created_at|date:yyyy-MM-dd hh:mm}}</span>
				<span style="float:right;">
					{% if userid | contain : comment.created_by %}
					<button class="delcomment close"
						data-toggle="modal" data-target="#delComment"
						comment="{{comment.id}}"
						url="{{rc.contextPath}}/delreply?replyid={{comment.id}}"
						style="float:right">
						&times;
					</button>
					{% endif %}
				</span>
			</div>
			<div class="row" style="padding:0px 5px 10px 15px;">
				<div id="content{{comment.id}}">{{comment.content}}</div>
			</div>
			
			<div class="row" style="text-align:right;">
				{% if comment.stat_comments | equal : 0 %}						
				<a data-toggle="collapse" data-target="#demo{{comment.id}}">评论</a>
				{% else %} 						
				<a data-toggle="collapse" data-target="#demo{{comment.id}}" comment="{{comment.id}}">
					查看回复({{comment.stat_comments}})并评论
				</a>						
				{% endif %}
			</div>
			
			<div id="demo{{comment.id}}" class="row collapse" style="margin-top:10px;margin-left:8px;">
				{% for lv2comment in comment.commentlv2 %}
				<div id="comment{{lv2comment.id}}" class="row" style="margin-top:5px;margin-bottom:5px;">
					<a href="#comment{{lv2comment.id}}"></a>
					<ul class="media-list">
						<li class="media" style="margin-top:0px;padding:5px;">
							<div style="text-align:center">
								<a class="watchuserinfo col-md-2 pull-left media-object thumbnail" href="ucbyid?userid={{lv2comment.created_by}}" style="margin-right:10px;" author="{{lv2comment.created_by}}">
							      <img style="width: 80px; height: 80px;" src="..." alt="暂无图片" >
							    </a>
						    </div>
							<div class="col-md-9 media-body well well-lg"  style="padding:5px;min-height:90px;" >
								<div class="row">
									<h5><a class="watchuserinfo" href="ucbyid?userid={{lv2comment.created_by}}" style="float:left;text-align:right;margin:1px 10px 1px 5px;" author="{{lv2comment.created_by}}">{{lv2comment.reply_by.NICK_NAME}}</a></h5>
									<span style="float:left;font-size:0.7em;">{{lv2comment.created_at|date:yyyy-MM-dd hh:mm}}</span>
									<span style="float:right;">
										{% if userid | equal: lv2comment.created_by %}
										<button class="delcomment close"
											data-toggle="modal" data-target="#delComment"
											comment="{{lv2comment.id}}"
											url="{{rc.contextPath}}/delreply?replyid={{lv2comment.id}}">
											&times;
										</button>
										{% endif %}
									</span>
								</div>		
								<div class="row" style="padding:5px 5px 10px 15px;">
									<div id="content{{lv2comment.id}}">{{lv2comment.content}}</div>
								</div>
							</div>
						</li>		
					</ul>
				</div>
				{% endfor %}
				<form action="{{rc.contextPath}}/reply" method="post" >
					<textarea class="form-control" rows="3" name="content" maxlength="140"
						placeholder="不水能死何弃疗"></textarea>
					<input id="postid" type="hidden" name="postid" value="{{post.id}}" />
					<input id="replyid" type="hidden" name="replyid" value="{{comment.id}}" />
					<input type="hidden" name="type" value="7" />
					<button type="submit" class="addcomment btn btn-default" style="margin-top:10px; float:right">发布</button>
				</form>
			</div>
		</div>
	{% endif %}				
	</li>
</ul>