<ul class="nav nav-tabs">
    <li class="active"><a href="{{rc.contextPath}}/messages">未读消息</a></li>
    <li><a href="{{rc.contextPath}}/messages2">已读消息</a></li>
    <li class="pull-right"><a href="{{rc.contextPath}}/messages">查看全部</a></li>
</ul>
<dl style="margin-top: 10px">
 {%for tempVar in list %}
 <dd>
{{tempVar.userName}}在您发表的{{tempVar.messageContent}}
{%if tempVar.messageType | equal:'1'%} 做了评论 {% endif %}
 {%if tempVar.messageType  | equal:'2'%} 做了回复 {% endif %}
 {%if tempVar.messageType  | equal:'3'%} 点了赞 {% endif %}
  {%if tempVar.messageType  | equal:'4'%} 做了收藏 {% endif %}
</dd>
{%endfor %}
</dl>