<div id="helper" style="margin:10px 10px 10px 10px ; width:300px;height:auto;">
	<div><h4>选择求助对象</h4></div>
	<hr/>
    <input id="all" type="radio" name="group1" style="font-size:9px;">发送给贴有已选标签的所有人</input><br/>
	<input id="high" type="radio" name="group1" style="font-size:9px;">发送给标签相关且威望值较高的人<br/>
	{% if list | length | equal : 0 | not%}
		{%for tempVar in list %}
			<input type="checkbox" id= {{tempVar.ID}} value={{tempVar.USERNAME}}>{{tempVar.USERNAME}}</input><br/>
		{%endfor %}
	{% else %}
		<h5>无相关对象</h5>
	{% endif %}
	
</div>
<script>
function fn1(){
	$("#help").val("");
	$("#help2").val("");
	$("#helper input[type='checkbox']:checked").each(function(index, domEle){
		
		$("#help").val($("#help").val()+'['+$(domEle).val()+']')
		$("#help2").val($("#help2").val()+'['+$(domEle).attr('id')+']')
		});
	}
$("#high").click(function(){
			$("#helper input[type='checkbox']").each(
					function(index,domEle){
					$(domEle).prop("checked",true);
				    })
			fn1();
	}
)
	
$("#all").click(function(){
	$("#helper input[type='checkbox']").each(function(index,domEle){
		$(domEle).prop("checked",false);
	})
	$("#help").val("发送给贴有已选标签的所有人");
	$("#help2").val("");
})

$("#helper input[type='checkbox']").click(function(){
		fn1();
	})
	

</script>
