{%for tempVar in list %}
 {%if tempVar.NODE_TYPE | equal:'2'%} <span class="top10head">【提问】</span> {% endif %}
 {%if tempVar.NODE_TYPE | equal:'3'%} <span class="top10head">【分享】</span> {% endif %}
  {%if tempVar.NODE_TYPE | equal:'4'%} <span class="top10head">【灌水】</span>{% endif %}
   {%if tempVar.NODE_TYPE | equal:'5'%} <span class="top10head">【想法】 </span>{% endif %}

<a href={{rc.contextPath}}/post?id={{tempVar.ID}} class="top10title">{{tempVar.TITLE}}</a><br/>
{%endfor %}
