<script src="{{rc.contextPath}}/assets/js/coode.favtitlelist.js">
</script>

	{% for TITLE IN MYPOST%}
<!--	{{TITLE}}-->
<div class="fav-title-list">
  <div class="favorite-list-title-tip">
    <span>
<!--      {{TITLE.NODE_TYPE}}-->
       {%if TITLE.NODE_TYPE | equal:'1'%}【新闻】{% endif %}
       {%if TITLE.NODE_TYPE | equal:'2'%}【求解】{% endif %}
       {%if TITLE.NODE_TYPE | equal:'3'%}【分享】{% endif %}
       {%if TITLE.NODE_TYPE | equal:'4'%}【灌水】{% endif %}
       {%if TITLE.NODE_TYPE | equal:'5'%}【idea】{% endif %}      
       {%if TITLE.NODE_TYPE | equal:'6'%}【回答】{% endif %}      
       {%if TITLE.NODE_TYPE | equal:'7'%}【评论】{% endif %}     
    </span>
  </div>
  <div class="favorite-list-title-name">
    <span> 
       {%if TITLE.NODE_TYPE | equal:'7'%}
		 <a href="toreply?id={{TITLE.NODE_ID}}">{{TITLE.TITLE}}</a>
		 {% else %}
		 {% if NODETYPE|equal:'mydraft' %}		 
		 <a href="post/edit?id={{TITLE.NODE_ID}}">{{TITLE.TITLE}} </a>
		 {% else %}
		 <a href="post?id={{TITLE.NODE_ID}}">{{TITLE.TITLE}} </a>
		 {% endif %}  
{% endif %}    
    </span>
  </div>
  <div class="favorite-list-title-time">
    <span>
      {{TITLE.CREATED_AT|date:yyyy-MM-dd hh:mm}}
    </span>
  </div>
  <div class="favorite-list-title-date">
    <span>
    </span>
  </div>
  <!--发起-->
  	  {% if NODETYPE|equal:'mypost' %}
  <div class="title-list-action">
    <div class="moveto">
      <span>
        <a href="{{rc.contextPath}}/post/edit?id={{TITLE.NODE_ID}}">
        修改
        </a>
      </span>
    </div>

    <div 
        class="delete"
        data-toggle="modal"
        data-target="#deletefavModal"
        nodefavoriteid="{{TITLE.NODE_ID}}"
        title="{{TITLE.TITLE}}"
        userid = "{{TITLE.CREATED_BY}}">

      <span >
        删除
      </span>
    </div>
    </div>
          {% endif %}
             <!--回应-->
    {% if NODETYPE|equal:'myreply' %}
      <div class="title-list-action">
      
          <div class="block">
      <span>

      </span>
    </div>
      
    <div 
        class="delete"
        data-toggle="modal"
        data-target="#deletereplyModal"
        nodefavoriteid="{{TITLE.NODE_ID}}"
        title="{{TITLE.TITLE}}"
        userid = "{{TITLE.CREATED_BY}}" >

      <span >
        删除
      </span>
    </div>
    </div>
      {% endif %}

    <!--草稿箱-->
    {% if NODETYPE|equal:'mydraft' %}
      <div class="title-list-action">
      
          <div class="block">
      <span>

      </span>
    </div>
      
    <div 
        class="delete"
        data-toggle="modal"
        data-target="#deletefavModal"
        nodefavoriteid="{{TITLE.NODE_ID}}"
        title="{{TITLE.TITLE}}"
        userid = "{{TITLE.CREATED_BY}}" >

      <span >
        删除
      </span>
    </div>
    </div>
      {% endif %}
  </div>
{% endfor%}
<!--删除文章-->
 <div id="favpage">
<div class="modal fade" id="deletefavModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id = "delete-modal-header">
        <button type="button" class="close" id="delete-modal-close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
        </h4>
      </div>
      <div class="modal-body" id="delete-modal-body">
        <div id = "tip">
          <table>
            <tr>
              <td>
                <img src="{{rc.contextPath}}/assets/images/icon-questionmark.png" alt="warning">
              </td>
              <td>
                <div id= "tiptext">
                  <span>
                    确定要删除“
                    <strong>
                      <!--在js文件里 -->
                    </strong>
                    ”吗？
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="btn-groups" id="delete-btn-groups">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            取消
          </button>
          <button type="button" class="btn btn-primary" id = "deleteNode">
            删除
          </button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!--删除评论-->
 <div id="favpage">
<div class="modal fade" id="deletereplyModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id = "delete-modal-header">
        <button type="button" class="close" id="delete-modal-close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
        </h4>
      </div>
      <div class="modal-body" id="delete-modal-body">
        <div id = "tip">
          <table>
            <tr>
              <td>
                <img src="{{rc.contextPath}}/assets/images/icon-questionmark.png" alt="warning">
              </td>
              <td>
                <div id= "tiptext">
                  <span>
                    确定要删除该评论吗？
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="btn-groups" id="delete-btn-groups">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            取消
          </button>
          <button type="button" class="btn btn-primary" id = "deleteReply">
            删除
          </button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>