{% extends "./layout/base.html" %}

{% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-md-8">

    <ul class="nav nav-tabs" style="font-size:24px;">
        <li {% if schema is equalto 'article' %}class="active"{% endif %}><a href="{{rc.contextPath}}/?s=article" style="margin-left:35px;">看新闻</a></li>
        <li {% if schema is equalto 'qsh' %}class="active"{% endif %}><a href="{{rc.contextPath}}/?s=qsh" style="margin-left:65px;">随意聊</a></li>
        <li {% if schema is equalto 'idea' %}class="active"{% endif %}><a href="{{rc.contextPath}}/?s=idea" style="margin-left:65px;">有idea</a></li>
    </ul>
    <div class="divtype" >
		<a  href={{rc.contextPath}}/allSubNode {% if scope is equalto '1' %}class="choose"{% else %} class="choose2"{% endif %} >我的订阅</a>
	    <span >|</span>
		<a  href={{rc.contextPath}}/home {% if scope is equalto '0' %}class="choose"{% else %} class="choose2"{% endif %}>全部文章</a>
		
		<form class="form-inline pull-right" >
	          <select class="form-control" id="sort">
	            <option {% if sort is equalto '0' %}selected {% endif %} >
	              按时间排序
	            </option>
	            <option {% if sort is equalto '1' %}selected {% endif %}>
	              按热度排序
	            </option>
	          </select>
	    </form>
	</div>
    {% for node in nodes %}
    <dl class="node">
        <dt style="float: left; margin-right: 20px; margin-top: 0;font-size:18px;">
            {% if schema is equalto 'qsh' %}
         {% if  node.nodeType | equal : '2' %}[提问]{%endif%}
         {% if  node.nodeType | equal : '3' %}[分享]{%endif%}
         {% if  node.nodeType | equal : '4' %}[灌水]{%endif%}
            {% endif %}
            {% if schema is equalto 'article' %}
            <img src="{{node.topImage}}" width="150" height="110" >
            {% endif %}
        </dt>

        <dt>
            <a href="post?id={{node.id}}" style="font-size:18px;color:#000000">{{node.title}}</a>
        </dt>
        <dd id="summary" style="font-size:12px;color:#666666">{{node.summary}}</dd>
        <dd id="tags" style="font-size:12px;">
          <span style="color:#999999;margin-top:20px;margin-bottom:20px;"> 标签：</span> 
            {% if node.tags |length |equal : "0"%}
            <small style="color:#79b9e6"> 木有标签</small>
            {% else %}
            {% for tag in node.tags %}
            #<span class="btn btn-sm" ><a href="{{rc.contextPath}}/tagsDetail2?tid={{tag.id}}" style="color:#79b9e6;margin-top:20px;margin-bottom:20px;" >{{tag.NAME}}</a></span>
            {% endfor %}
            {% endif%}
        </dd>
        <dd id="extras" style="font-size:12px;">
            <img src="{{rc.contextPath}}/assets/images/icon-favorite.png" ><span style="cursor:pointer;color:#999999;margin-right:30px;margin-left:10px;" onclick="clk(this,{{node.id}});"> {{node.statFavorites}}</span>
            <img src="{{rc.contextPath}}/assets/images/icon-comment.png" ><span style="cursor:pointer;color:#999999;margin-left:10px;" >{{node.statReplies}} </span>
           <span class="pull-right"  style="color:#999999">{{node.date | date:"yyyy年MM月dd日"}}</span> <span class="pull-right"  style="color:#136096">{{node.from}}：</span>
        </dd>
    </dl>
    {% endfor %}

    {% if pager.count is equalto 0 %}
        <div>没有任何记录</div>
    {% endif %}


    <div class="row" style="text-align: center">
        {% if pager is equalto false %}
        <ul class="pagination">
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/?p=1&s={{schema}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-first{% if pager.isFirst %}-disable{% endif %}.png">
                </a>
            </li>
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/?p={{pager.prevPage}}&s={{schema}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-prev{% if pager.isFirst %}-disable{% endif %}.png">
                </a>
            </li>
            {% for i in pager.pageRange %}
            <li {% if i is equalto pager.currentPage %}class="active"{% endif %}>
                {% if iis equalto -1 %}
                <span>...</span>
                {% else %}
                <a href="{{rc.contextPath}}/?p={{i}}&s={{schema}}">{{i}}</a>
                {% endif %}
            </li>
            {% endfor %}
            <li {% if pager.isLast %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/?p={{pager.nextPage}}&s={{schema}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-next{% if pager.isLast %}-disable{% endif %}.png">
                </a>
            </li>
            <li {% if pager.isLast %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/?p={{pager.pageCount}}&s={{schema}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-last{% if pager.isLast %}-disable{% endif %}.png">
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="col-md-3 pull-right" id="right-sections">
    <div class="row section" id="profile-img">
        <div class="col-md-4">
            <a href="{{rc.contextPath}}/usercenter"><img id ="userphoto" src="{{rc.contextPath}}/assets/images/avatar-70x70.png" ></a>
        </div>
        <div class="col-md-8">
            <a href="{{rc.contextPath}}/usercenter"><strong id="nickname" style="font-size:20px; color:#333333;">张晓马</strong></a>
            <p id = "dept" style="font-size:14px; color:#999999;">研推部</p>
            <p style="font-size:14px; color:#ffae00;">活跃天数 103</p>
        </div>
    </div>

    <div class="row" id="profile-data">
        <div class="col-md-4">
            <p style="font-size:12px; color:#cccccc;">发帖</p>
            <p id="statpost" style="font-size:20px; color:#666666;">18</p>
        </div>
        <div class="col-md-4">
            <p style="font-size:12px; color:#cccccc;">回帖</p>
            <p id = "statreply" style="font-size:20px; color:#666666;">18</p>
        </div>
        <div class="col-md-4">
            <p style="font-size:12px; color:#cccccc;">威望</p>
            <p id ="credit" style="font-size:20px; color:#666666;">18</p>
        </div>
    </div>

    <div class="row section">
        <div class="section-head">近期热点</div>
        <div>
            <span class="tag"><a href=tagsDetail2?tid=1>Javascript</a></span>
            <span class="tag"><a href=tagsDetail2?tid=1>Java</a></span>
            <span class="tag"><a href=tagsDetail2?tid=1>python</a></span>
            <span class="tag"><a href=tagsDetail2?tid=1>Ruby on Rails</a></span>
            <span class="tag"><a href=tagsDetail2?tid=1>Django</a></span>

        </div>
    </div>
    <div class="row section">
        <div class="section-head">可能感兴趣的<span class="pull-right"><a href={{rc.contextPath}}/allTags>【所有标签】</a></span></div>  
        <div id="hot5tags">
        </div>
    </div>
    <div class="row section">
        <div class="section-head">热议TOP10<span class="pull-right"><a href={{rc.contextPath}}/top10Detail>【详情】</a></span> </div>
		<div id="top10"></div>
    </div>
    <div class="row section" id="client-section">
        <div class="section-head">客户端下载</div>
        <div class="client">
            <img src="{{rc.contextPath}}/assets/images/mobile-android.png" style="margin-right: 3em">
            <img src="{{rc.contextPath}}/assets/images/mobile-android-download.png" width="30%">
        </div>
        <div class="client">
            <img src="{{rc.contextPath}}/assets/images/mobile-apple.png" style="margin-right: 3em">
            <img src="{{rc.contextPath}}/assets/images/mobile-apple-download.png" width="30%">
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}

<script type="text/javascript" src="{{rc.contextPath}}/assets/js/coode.tag.js"></script>
<script type="text/javascript">
function top10(){
    console.log('ok');
      $.ajax({
          url: 'top10Post',
          dataType: 'html',
          success: function(data) {
             $('#top10').html(data);
          }
      })
}

	$.ajax({
		url:'myuserinfo.json',
		dataType:'json'
	}).done(function(data){
		console.log(data);
		$('#nickname').text(data.USERINFO.NICK_NAME);
		if(data.USERINFO.DEPT_VISIBLE == 1){
		$('#dept').text(data.USERINFO.DEPT);
		}
		else{		
		$('#dept').text("");
		}
		$('#statpost').text(data.USERINFO.STAT_POST);
		$('#statreply').text(data.USERINFO.STAT_REPLY);
		$('#credit').text(data.USERINFO.CREDIT);
		if(data.USERINFO.HEAD_ID != null)
		{
			$('#userphoto').attr("src","{{rc.contextPath}}/assets/photo/"+data.USERINFO.HEAD_ID);
		}
	})

function ajaxCom(){
		//
	
}
$(function(){
	top10();
	hot5Tags();
})

function clk(ele,id){
    $.ajax({
        url: '{{rc.contextPath}}/addFav.json',
        type: 'POST',
        dataType: 'json',
        data: {nodeId: id }
    }).done(function (data) {
        if (data.result == 0) {
            $(ele).text(parseInt($(ele).text()) + 1);
            alert("收藏+1")
        } else {
            alert("已收藏")
        }
    })
}

$("#sort").change(function (){
	if($.trim($("#sort option:selected").val()) == '按时间排序'){
		location.href = '{{rc.contextPath}}/home?st=0&s={{schema}}'
		}else{
			location.href = '{{rc.contextPath}}/home?st=1&s={{schema}}'
			}
		
 })
</script>
{% endblock %}