﻿{% extends "layout/blank.html" %}

{% block css_block %}
<style type="text/css">
#page {
    font-size: 14px;
    color: #666;
}

.form-horizontal {
    margin-top: 280px;
}

.form-control, button {
    padding-left:  30px;
    height: 60px;
}

#username-control {
    margin-bottom: 20px;
}

#password-control {
    margin-bottom: 40px;
}

#page .field-error {
    position: absolute;
    top:  19px;
    right:  -100px;
    color: gray;
}

#page .glyphicon.form-control-feedback {
    top:  13px;
    left:  15px;
    color: gray;
}

.checkbox input {
    height: 14px;
}

/*input {*/
    /*width: 310px;*/
    /*height: 60px;*/
/*}*/

</style>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
$(function() {
    $('[type="submit"]').click(function() {
        $(this).button('loading')
    })
})
</script>
{% endblock %}
{% block content %}

<div id="page" class="container">
    <div class="row">
        <div class="col-md-5" style="text-align: right;">
            <img class="ui medium image" src="{{rc.contextPath}}/assets/images/login.png">
        </div>
        <div class="col-md-5 pull-right">
            <form class="form-horizontal" role="form" method="post">
                {% if return_to %}
                <input type="hidden" name="return_to" value="{{return_to}}">
                {% endif %}
                <div class="form-group has-feedback {% if errors %}has-error{% endif %}" id="username-control">
                    <!--<label for="inputEmail3" class="col-sm-2 control-label">Email</label>-->
                    <div class="col-sm-9" >
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        <input type="text" class="form-control input-lg" name="username" value="{{username}}" placeholder="用户名">
                        {% if errors %}
                        <span class="field-error">{{errors}} <img src="{{rc.contextPath}}/assets/images/icon-warn.png"></span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group has-feedback" id="password-control">
                    <!--<label for="inputPassword3" class="col-sm-2 control-label">Password</label>-->
                    <div class="col-sm-9">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <input type="password" class="form-control input-lg" name="password" value="{{password}}" placeholder="密码">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="登录中..">登录</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 记住密码
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}