{% extends "./layout/base.html" %}

{% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.home.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="col-md-8">

    <ul class="nav nav-tabs" style="font-size:24px;">
        <li {% if schema |equal: 'article' %}class="active"{% endif %}><a href="{{rc.contextPath}}/search?q={{q}}&s=article" style="margin-left:35px;">看新闻({{articleCount}})</a></li>
        <li {% if schema |equal: 'qsh' %}class="active"{% endif %}><a href="{{rc.contextPath}}/search?q={{q}}&s=qsh" style="margin-left:65px;">随意聊({{qshCount}})</a></li>
        <li {% if schema |equal: 'idea' %}class="active"{% endif %}><a href="{{rc.contextPath}}/search?q={{q}}&s=idea" style="margin-left:65px;">有idea({{ideaCount}})</a></li>
    </ul>

    {% for node in nodes %}
    <dl class="node">
        <dt style="float: left; margin-right: 8px; margin-top: 0">
            {% if schema |equal: 'qsh' %}
            {{node.nodeType}}
            {% endif %}
            {% if schema |equal: 'article' %}
            <img src="{{node.topImage}}" width="100" height="100">
            {% endif %}
        </dt>
        <dt>
            <a href="post?id={{node.id}}">{{node.title}}</a>
        </dt>
        <dd id="summary">{{node.summary}}...</dd>
        <dd id="tags">
            标签：
            {% for tag in node.tags %}
                #<a href="{{rc.contextPath}}/tags/{{tag.id}}">{{tag.name}}</a>
            {% endfor %}
        </dd>
        <dd id="extras">
            <img src="{{rc.contextPath}}/assets/images/icon-favorite.png" > {{node.statFavorites}}
            <img src="{{rc.contextPath}}/assets/images/icon-comment.png" > {{node.statReplies}}
            <span class="pull-right">{{node.from}}: {{node.date}}</span>
        </dd>
    </dl>
    {% endfor %}

    {% if pager.count |equal: 0 %}
    <div>没有搜索到包含"{{q}}"的任何记录</div>
    {% endif %}


    <div class="row" style="text-align: center">
        {% if pager.empty | not %}
        <ul class="pagination">
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/search?q={{q}}&p=1&s={{schema}}">
                <img src="{{rc.contextPath}}/assets/images/pager-first{% if pager.isFirst %}-disable{% endif %}.png">
            </a>
            </li>
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
            <a href="{{rc.contextPath}}/search?q={{q}}&p={{pager.prevPage}}&s={{schema}}">
                <img src="{{rc.contextPath}}/assets/images/pager-prev{% if pager.isFirst %}-disable{% endif %}.png">
            </a>
            </li>
            {% for i in pager.pageRange %}
            <li {% if i |equal: pager.currentPage %}class="active"{% endif %}>
                {% if i|equal: -1 %}
                <span>...</span>
                {% else %}
                <a href="{{rc.contextPath}}/search?q={{q}}&p={{i}}&s={{schema}}">{{i}}</a>
                {% endif %}
            </li>
            {% endfor %}
            <li {% if pager.isLast %}class="disabled"{% endif %}><a href="{{rc.contextPath}}/search?q={{q}}&p={{pager.nextPage}}&s={{schema}}">
                <img src="{{rc.contextPath}}/assets/images/pager-next{% if pager.isLast %}-disable{% endif %}.png">
            </a></li>
            <li {% if pager.isLast %}class="disabled"{% endif %}><a href="{{rc.contextPath}}/search?q={{q}}&p={{pager.pageCount}}&s={{schema}}">
                <img src="{{rc.contextPath}}/assets/images/pager-last{% if pager.isLast %}-disable{% endif %}.png">
            </a></li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="col-md-3 pull-right">

	<label style="margin-left: 5px; color: red;">热议TOP10</label>
	<div id="top10">
	</div>

    <div class="row section">
        <div id="hot5tags" class="section-head">相关标签</div>

    </div>



</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{{rc.contextPath}}/assets/js/coode.tag.js"></script>
<script type="text/javascript">
$(function(){
	top10();
	hot5Tags();
})

</script>