{% extends "layout/post.html" %} 

{% block post_content %}

<h2>{{post.title}}</h2>

标签： {% for tag in tags %}
<span class="label label-default">{{tag.NAME}}</span>
<br />

{% endfor %}

<br>
<div>{{post.content}}</div>

<button type="button" class="btn btn-default btn-lg">
	<span class="glyphicon glyphicon-star-empty"></span>
	{{post.stat_favorites}}
</button>

<button type="button" class="btn btn-default btn-lg">
	<span class="glyphicon glyphicon-comment"></span>
	{{post.stat_comments}}
</button>
{% endblock %}


{% block post_comment %}
111111111
{% endblock %}