
{% extends "./layout/blank.html" %} {% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.wizard.css" rel="stylesheet">

{% endblock %} {% block js_block %}
<script src="{{rc.contextPath}}/assets/js/coode.wizard.js"></script>
<script src="{{rc.contextPath}}/assets/js/autopromot.js"></script>
<script src="{{rc.contextPath}}/assets/js/coode.userinfo.js" type="text/javascript">
</script>
<script src="{{rc.contextPath}}/assets/js/ajaxupload.3.9.js" type="text/javascript">
</script>
<script type="text/javascript">

	$("#search").click(function (){
		$.ajax({
			url:'{{rc.contextPath}}/tagsByWord.json',
			type:'POST',
			dataType:'json',
			data : {word : $(this).next().val() }
		     }).done(function(data) {
				var items = data.list;
				var s = '';
				for(item in items){
					s += ' <span class="tag label label-default" id="'+items[item].ID+'">'+
					items[item].NAME+'<a class="tag-action hide"></a></span>'
						};
				$("#coode-unsubscribed-tags").html(s);
			     })
			})
	 $("#tagsort").change(function (){
			if($.trim($("#tagsort option:selected").val()) == '按字母排序'){
				location.href = '{{rc.contextPath}}/wizard?sort=2'
				}else{
					location.href = '{{rc.contextPath}}/wizard?sort=1'
					}
				
		 })
</script>

{% endblock %} {% block content %}
<div id="coode-tags" class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6 coode-steps-tip">
      <span class="clearfix">
        亲，欢迎使用，
      </span>
      <span>
        请选择至少一项您擅长或感兴趣的标签
      </span>
    </div>
    <div class="col-md-6 coode-steps">
      <div class="row coode-step-icons">
        <img src="{{rc.contextPath}}/assets/images/step-1.png">
        <hr>
        <img src="{{rc.contextPath}}/assets/images/step-2-disabled.png">
      </div>
      <div class="row coode-step-labels">
        <div>
          <span>
            订阅标签
          </span>
          <span style="color: #999">
            完善资料
          </span>
        </div>
      </div>
    </div>

  </div>

  <div class="row coode-panel" >
    <div class="coode-panel-left coode-section col-md-3">
      <div class="row">
        <span class="section-title">
          已订阅标签库
        </span>
      </div>
      <div class="row" id="coode-subscribed-tags">
        {%for tempVar in tagList2 %}
        <span class="tag label label-default">
          {{ tempVar.NAME}}
          <a class="tag-action hide">
          </a>
        </span>
        {%endfor%}
      </div>
    </div>
          <span id="search"  class="glyphicon glyphicon-search" style="color: #999; font-size: 1.2em;cursor:pointer;float:right;">点击搜索</span>
           <input  id="content" type="text" class="coode-search-box form-control" placeholder="输入想要的标签，如Java" style="float:right;">
        	<div id="auto"></div>
    
    <div class="coode-panel-right col-md-9">
      <div class="row">
        <span class="section-title">
          未订阅标签库
        </span>
      </div>
      <div class="row coode-section" style="padding-top: 0">
        <form class="form-inline pull-right" >
          <select class="form-control" id="tagsort">
            <option {% if sort | equal :'1' %}selected {% endif %} >
              按热度排序
            </option>
            <option {% if sort | equal :'2' %}selected {% endif %}>
              按字母排序
            </option>
          </select>
        </form>
      </div>
      <div class="row" id="coode-unsubscribed-tags">
        {%for tempVar in tagList %}
        <span class="tag label label-default" id="{{tempVar.TID}}">
          {{ tempVar.NAME}}
          <a class="tag-action hide">
          </a>
        </span>

        {%endfor%}
      </div>
      <div class="row" style="text-align: center">
        <ul class="pagination">
          <li class="disabled">
          <a href="#">
            &laquo;
          </a>
        </li>
        <li class="active">
        <a href="#">
          1
        </a>
      </li>
      <li>
      <a href="#">
        2
      </a>
    </li>
    <li>
    <a href="#">
      3
    </a>
  </li>
  <li>
  <a href="#">
    4
  </a>
</li>
<li>
<a href="#">
  5
</a>
</li>
<li>
<a href="#">
  &raquo;
</a>
</li>
</ul>
</div>
</div>
</div>

<div class="row">
  <div class="pull-right">
    <a id="coode-button-next" class="btn btn-default btn-lg btn-warning" disabled='true'>
      下一步
    </a>
  </div>
</div>
</div>

<div id="coode-profile" class="container hide" style="margin-top: 100px">
  <div class="row">
    <div class="col-md-6 coode-steps-tip">
      <span class="clearfix">
        补充一些个人资料，
      </span>
      <span>
        让不熟悉的同事慢慢开始交流吧
      </span>
    </div>
    <div class="col-md-6 coode-steps">
      <div class="row coode-step-icons">
        <img src="{{rc.contextPath}}/assets/images/step-done.png">
        <hr>
        <img src="{{rc.contextPath}}/assets/images/step-2.png">
      </div>
      <div class="row coode-step-labels">
        <div>
          <span>
            订阅标签
          </span>
          <span>
            完善资料
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row coode-panel" >
    <div class="coode-panel-left col-md-3">
      <div class="row">
        <span class="section-title">
          预览
        </span>
      </div>
      <div class="row"  style="text-align: center">
        <img id = "photo70" src="{{rc.contextPath}}/assets/images/avatar-70x70.png" width="70" height="70" class="clearfix">
        <p>
          70×70
        </p>
        <img id ="photo180" src="{{rc.contextPath}}/assets/images/avatar-180x180.png" width="180" height="180" class="clearfix">
        <p>
          180×180
        </p>
        <input type="hidden" id="hidImgName" /> 
        <div>
	    <div class="btn btn-default" id="btnUploadImg">
	   		 自定义头像
	      </div>
        </div>
        <div>
	    <a id="btnDeleteImg">
	    使用默认头像
	    </a>  
        </div>
      </div>

    </div>
    <div class="coode-panel-right col-md-9">
      <div class="row">
        <span class="section-title">
          个人资料
        </span>
      </div>
      <div class="row">

        <form class="form-horizontal" role="form" action="{{rc.contextPath}}/save_profile" method="post" id="formId">
          <div class="form-group">
            <label for="dept" class="col-md-2 control-label">
              选择部门
            </label>
            <div class="col-md-6">
              <select name="dept" id = "dept-select" class="form-control " >
                <option value="">
                  请选择部门...
                </option>
                <option value="综合管理部">
                  综合管理部
                </option>
                <option value="开发一部">
                  开发一部
                </option>
                <option value="开发二部">
                  开发二部
                </option>
                <option value="开发三部">
                  开发三部
                </option>
                <option value="开发四部">
                  开发四部
                </option>
                <option value="开发五部">
                  开发五部
                </option>
                <option value="开发六部">
                  开发六部
                </option>
                <option value="总工程师办公室">
                  总工程师办公室
                </option>
                <option value="质量管理部">
                  质量管理部
                </option>
                <option value="研发推广部">
                  研发推广部
                </option>
                <option value="深研一部">
                  深研一部
                </option>
                <option value="深研二部">
                  深研二部
                </option>
                <option value="深研三部">
                  深研三部
                </option>
                <option value="基础平台部">
                  基础平台部
                </option>
              </select>
            </div>

            <div class="col-md-4">
              <input type="checkbox" name="privacy" id = "dept-visible">
              <label>
                公开
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="position" class="col-md-2 control-label">
              职位描述
            </label>
            <div class="col-md-10">
              <textarea class="form-control" name="position" id="position" rows="6" placeholder="对我的职位做些简单说明，可不填"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="project_experience" class="col-md-2 control-label">
              项目经验
            </label>
            <div class="col-md-10">
              <textarea 
                  class="form-control"
                  name="experience"
                  id="project_experience"
                  rows="6"
                  placeholder="我参加过的项目，可不填"></textarea>
            </div>
          </div>
          <input type="hidden" id="ids" name="ids"></input>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="pull-right">
    <a id="coode-button-prev" class="btn btn-default btn-lg">
      上一步
    </a>
    <button id="submit" type="submit" class="btn btn-default btn-lg btn-warning" form="formId">
      完成
    </button>
  </div>
</div>
</div>
{% endblock %}

