{% extends "../layout/base.html" %} {% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.favorite.css" rel="stylesheet">

{% endblock %} {% block js_block %}
<script src="{{rc.contextPath}}/assets/js/coode.favtitlelist.js">
</script>

{% endblock %} {% block content %} 
<!--{{TITLE_LIST}}-->
<div class="row title-top">
  <div class="col-md-6">
    <span>
      {{FAVORITE_NAME}}
    </span>
  </div>
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li>
      <a href="{{rc.contextPath}}/">
        首页
      </a>
    </li>
    <li>
    <a href="{{rc.contextPath}}/favorite">
      我的收藏夹
    </a>
  </li>
  <li class="active">
  {{FAVORITE_NAME}}
</li>
</ol>
</div>
</div>

{% for TITLE IN TITLE_LIST%}
<div class="fav-title-list">
  <div class="favorite-list-title-tip">
    <span>
      {{TITLE.NODE_TYPE}}
    </span>
  </div>
  <div class="favorite-list-title-name">
    <span>    
		 <a href="post?id={{TITLE.NODE_ID}}"> {{TITLE.TITLE}}</a>
    </span>
  </div>
  <div class="favorite-list-title-time">
    <span>
      {{TITLE.CREATED_AT|date:yyyy-MM-dd hh:mm}}
    </span>
  </div>
  <div class="favorite-list-title-date">
    <span>
    </span>
  </div>
  <div class="title-list-action">
    <div  nodefavoriteid="{{TITLE.NODE_FAVORITE_ID}}" class="moveto" data-toggle="modal" data-target="#movetofavModal">
      <span>
        移动至
      </span>
    </div>

    <div 
        class="delete"
        data-toggle="modal"
        data-target="#deletefavModal"
        nodefavoriteid="{{TITLE.NODE_FAVORITE_ID}}"
        title="{{TITLE.TITLE}}">

      <span >
        删除
      </span>
    </div>
  </div>
</div>


{%endfor%}
<!--取消收藏-->
<div id = "favpage">
<div class="modal fade" id="deletefavModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id = "delete-modal-header">
        <button type="button" class="close" id="delete-modal-close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
        </h4>
      </div>
      <div class="modal-body" id="delete-modal-body">
        <div id = "tip">
          <table>
            <tr>
              <td>
                <img src="{{rc.contextPath}}/assets/images/icon-questionmark.png" alt="warning">
              </td>
              <td>
                <div id= "tiptext">
                  <span>
                    确定要取消收藏“
                    <strong>
                      <!--在js文件里 -->
                    </strong>
                    ”吗？
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="btn-groups" id="delete-btn-groups">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            取消
          </button>
          <button type="button" class="btn btn-primary" id = "deletefavtitle">
            取消收藏
          </button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>
<!--添加到收藏夹-->
<div id = "favpage">
<div 
    class="modal fade"
    id="movetofavModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          移动至收藏夹
        </h4>
      </div>
      <div class="modal-body">
          <span>
            选择收藏夹：
          </span>
          <!--  下拉菜单-->
          <div class="btn-group">
            <button id = "favlistdropdowninput" favid = "{{FAVID}}" favoritename="{{FAVORITE_NAME}}" select="" type="button" class="btn btn-default" data-toggle="dropdown">                       
            </button>
            <button id = "dropdowninputicon" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret">
              </span>
              <span class="sr-only">
                Toggle Dropdown
              </span>
            </button>
            <ul class="dropdown-menu" role="menu" id ="favlist-dropdown-menu">
            </ul>
          </div>
          <div class="btn-groups">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              取消
            </button>
            <button id="movetoFav" type="button" class="btn btn-primary" >
              完成
            </button>
          </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>
{% endblock %}
