.userinfo-left{
	width: 180px;
	float: left;
}

.userinfo-right{
	width:790px;
	margin-left: 30px;
	float:left;
}

.usercount{
	margin-top:10px;
	height:40px;
}

#statpost{
		float:left;
		width:60px;
}
#statreply{
		float:left;	
		width:59px;
}
#credit{
	width:59px;
	float:left;
}
.line{
	margin-top:10px;
	float: left;
	width:1px;
	height:25px;
	border-left: #EDEDED solid 1px;
}
.description{
	text-align:center;	
	color:#cccccc;
}
.countnum{
	text-align:center;	
	color:#666666;
	font-size: 22px;
}
.connection{
	margin-top:20px;
}
#email{
	width:80px;
	height:25px;
	border-radius: 3px;
	background-color: #74c587;
	color:#ffffff;
	line-height: 10px;
}
#wineim{
	width: 80px;
	height: 25px;
	background-color:#df7177;
	color:#ffffff;
	line-height: 10px;
	margin-left:15px;
}
/*头像*/

#photobackground{
	z-index: -1;
}
#btnupload{
	position:relative;
	top:-100px;
	left:40px;
}
#btndelete{
	position:relative;
	top:-80px;
	left:40px;
}
#btnUploadImg,#btnDeleteImg{
	width: 100px;
	height:30px;
	border-radius: 3px;
	color: #606060;  
    border: solid 1px #b7b7b7;  
    background: #fff;  
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));  
    background: -moz-linear-gradient(top,  #fff,  #ededed);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); 
	
}
#photo{
	height:180px;
}
#photo img{
	width: 180px;
	height:180px;
}

/*右侧-文本模式*/
#name{
	font-size: 20px;
	color:#000000;
	float: left;
}
#activedays{
	font-size: 12px;
	color:#CCCCCC;
	margin-top:8px;
	margin-left:10px;
	float: left;
}
#edit{
	float:right;
}
#clear{
	clear:both;
}
#dept{
	margin-top:10px;
	font-size: 12px;
	color:#ff6600;
	float:left;
}
#position{	
	margin-top:10px;
	font-size: 12px;
	color:#ff6600;
	}
.user-tag{
	margin-top:30px;
	margin-bottom: 10px;
}
#tag-group{
	margin-left:30px;
	width:700px;
	float: left;
}
.userinfo-label{
	font-size: 12px;
	color:#999999;
	margin-bottom:10px;
}
#projexp{
	font-size: 12px;
	color: #333333;
	text-indent: 30px;
}
/*右侧-编辑模式*/
label{
	font-size:12px;
	color:#666666;
	font-weight:normal;
}
textarea{
	width:655px;
	height:90px;
	resize:none;
	border: 1px #EDEDED solid;
	text-indent: 30px;
	border-radius: 3px;
}
#nickname{
	margin-left:24px;
	width: 250px;
	height:25px;
	border-radius: 3px;
	border:solid #EDEDED 1px;
	font-size: 12px;
	color: #333333;
	padding-left:10px;
	font-weight:bold;
}
#dept-select{
	width: 250px;
	height:25px;
	border-radius: 3px;
	border:solid #EDEDED 1px;
	font-size: 12px;
	color: #333333;
	padding-left:10px;
	font-weight:bold;
	margin-right:20px;
}
#dept-visible{
	background-color:#FFFFFF;
	border:solid #EDEDED 1px;
	display:table-cell;
	margin-top:0px;
}
#save-edit{
	float:right;
}
#position-edit{
	width: 590px;
	height:25px;
	border-radius: 3px;
	border:solid #EDEDED 1px;
	font-size: 12px;
	color: #333333;
	padding-left:10px;
	font-weight:bold;
	}
/*文章列表*/
.nodeinfo,.userinfo{
	margin-top:30px;
}

.moveto{
	float:right;
	padding-right: 130px;	
}

.delete{
	float:right;
}