.tag {
    display: inline-block;
    padding: 2px 1em;
    background-color: #e3e3e3;
    border-radius: 3px;
    margin-right: 0.5em;
    margin-bottom: 0.7em;
    line-height: 1.8em;
    font-color:black;
}

.coode-tag-title {
    font-size: 1.3em;
    color : #2995e0;
}


.coode-tag-right {
 	border-left : 3px solid #2995e0;
	margin-left:20px;

}
.coode-tag-erect {
	border-left : 3px solid #2995e0;
	padding-left:10px;
	font-size:1.3em;
}

.coode-tag-separator {
	border-top : 1px solid #E6E6FA;
}

.coode-tag-input  {
	font-size : 0.9em;
}

.coode-tag-p {
	white-space : pre-wrap;
	text-align : center;
}
.coode-tag-subsrcibe {
		background-color: white;
		width: 225px;
		height: 80px;
		margin-left: 30px;
		margin-right : 30px;
		margin-bottom: 10px;
		float: right;
		border-radius : 8px;
		box-shadow : 0 5px 10px rgba(0, 0, 0, 0.2);
		 -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.coode-tag-subsrcibe-one {
		width: 70%; 
		float: left; 
		padding-left: 10px; 
		padding-top: 5px;
}

.coode-tag-subsrcibe-two {
	width: 30%; 
	float: right; 
	padding-right: 20px; 
	padding-top: 15px;

}
.coode-tag-subsrcibe-one h5 {
		width: auto;
		font-size : 1.1em;
		font-weight : normal;
}

.mybtn {
	width:60px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    color: #ffffff;
  background-color: #FF0000;
  border-color: #d43f3a;
}

.mybtntwo {
	width:60px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 10px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    color: #ffffff;
  background-color: #6495ED;
  border-color: white;
}
.tag {
	font-size:12px;
	color:#666666;
	background-color: #F0FFFF;
    display: inline-block;
    padding: 2px 1em;
    border-radius: 3px;
    margin-right: 0.5em;
    margin-bottom: 0.7em;
    line-height: 25px;
}