.section-head {
    border-left: #2995E0 3px solid;
    padding-left: 0.8em;
    margin-bottom: 0.7em;
}

#right-sections .section {
    margin-top: 0.7em;
}

#profile-img {
    border: #e7e7e7 solid 1px;
    border-top: #2995E0 3px solid;
    border-bottom: 0;
    padding: 1em 1em;
}

#profile-data {
    text-align: center;
    border: #e7e7e7 solid 1px;
}

#profile-data div {
    padding-top: 0.7em;
    border-right: #e7e7e7 solid 1px;
}

#profile-data div:last-child {
    border-right: 0;
}

#client-section .client {
    padding-left: 2em;
}

.tag {
    display: inline-block;
    padding: 2px 1em;
    background-color: #e3e3e3;
    border-radius: 3px;
    margin-right: 0.5em;
    margin-bottom: 0.7em;
    line-height: 1.8em;
}

dl.node {
    border-bottom: solid 1px #ededed;
    margin-top: 10px;
}

/*dl dt {*/
    /*margin-top: 1.8em;;*/
/*}*/

/*dl dd {*/
    /*font-size: 0.9em;*/
/*}*/

/*dl dd#summary {*/
    /*text-align: justify;*/
    /*font-size: 0.9em;*/
/*}*/

/*dl dd#extras {*/
    /*border-bottom: solid 1px #ededed;*/
    /*margin-top: 0.5em;*/
    /*color: #737373;*/
/*}*/


/**--- search **/
.highlight {
    color: red;
    font-weight: bolder;
    /*background-color: #fffcaa;*/
}
/*头像*/
#userphoto{
	width: 70px;
	height: 70px;
}

.row .previouspage {
	float:right;
	padding-right: 5%;
	font-color: #222;
}

.tab-content {
	padding-top: 8px;
}

.row {
	margin: 0px;
}

.container > .row {
	margin-left: -15px;
	margin-right: -15px;
}

.row .posttitle{
	text-align:left;
	margin-bottom: 10px;
	font-size: 18px;
	color: #000000;
}

.posttags {
	padding-left: 20px;
}

.row .posttags label{
	float:left;
}

.row .posttags #tags{
	float:left;
}

.postcontent {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.post-comment .row form {
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.post-comment .row form label{
	color:gray;
	font-size:1.0em;
}

.post-comment .row form label span{
	color:gray;
	font-style:italic;
	font-size:1.2em;
}

.popover {
	max-width: 360px;
	padding: 0px 8px 0px 0px;
}

.media, .media-body {
	overflow: visible;
}