body {
    font-family: "Microsoft YaHei"! important;
    background-image: url(../images/bg.png);
}

/*---------菜单部分---------------------*/
#coode-nav {
    background-color: #2995E0;
}

#coode-nav .navbar-brand {
    vertical-align: middle;
    padding: 5px;
}

.coode-search-box {
    border-radius: 5em;
    width: 25em !important;
}

#coode-message {
    position: absolute;
    top:5px;
    right: 5px;
    background-color: red;
    padding: 3px 5px
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: transparent;
}

/*.navbar-default .navbar-nav>.open ul.dropdown-menu {*/
    /*background: #2995E0;     *//*#016BB5*/
    /*width: 35px !important;*/
/*}*/

/*.navbar-default .navbar-nav>.open ul.dropdown-menu li {*/
    /*width: 50px !important;*/
/*}*/

/*---------消息提醒部分部分---------------------*/
#coode-message-popover {
    max-width: 400px;
    width: 400px;
    left: auto !important;
    right: -110px !important;
    border-radius: 0;
}
#coode-message-popover.bottom {
    margin-top: 0;
}
#coode-message-popover .arrow {
    left: auto !important;
    right:  120px !important;
}

#coode-message-popover .popover-content {
    /*position: absolute;*/
    /*right: 50px;*/
}

#coode-message-popover .popover-content dd {
    line-height: 1.5em;
    margin-bottom: 10px;
    border-bottom: dashed 1px #dddddd;
}

/*------重定义tab样式---------------*/
.nav-tabs {
    border-bottom: 3px solid #2995E0;
}

.nav-tabs>li {
   margin-bottom: 0;
}

.nav-tabs>li.active>a {
    background: url(../images/icon-tab-arrow.png) bottom no-repeat;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2995E0;
    border: 0;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    color: #000;
    border: 0;
}

.triangle {
    width:0;
    height:0;
    overflow:hidden;
    border: 7px dashed transparent;
    border-bottom-color: #2995E0;

    /*position: relative;*/
    /*right: 225px;*/
    /*top: 28px;*/
}

.postcontent img {
    width:expression_r(width>600?”600px”:width+”px”);
    max-width: 600px;
    overflow:hidden;
}



.pro {
	cursor: default;
	z-index: 1000;
}

#auto {
	background-color: white;
}


#SOSModal.modal {
	width: 1200px;
	height : 800px;
	margin-top: 100px;
	margin-left:0px;
	overflow-y: hidden;
}

#SOSModal .modal-dialog {
	margin-top: 0px;
	margin-left:200px;
	width: 500px;
	border-radius: 5px;
}
#SOSModal .modal-body {
	height: 500px;
	width: 500px;
}

#SOSModal .modal-header {
	height: 50px;
	background-color: #2995e0;
}

#SOSModal .modal-title {
	color: #ffffff;
	font-size: 18px;
	border-radius: 5px 5px 0px 0px;
}

#SOSModal .modal-body span {
	font-size: 12px;
	color: #666666;
}


#SOSModal .modal-body textarea  {

	border: 1px solid #CCCCCC;
	border-radius: 2px;
	font-size: 15px;
	padding-left: 10px;
}
#SOSModal .sosinput {
	width: 400px;
	height: 30px;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	font-size: 15px;
	font-color : #999999;
	padding-left: 10px;

	}