{% extends "./layout/base.html" %}

{% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.wizard.css" rel="stylesheet">
<link href="{{rc.contextPath}}/assets/css/coode.tag.css" rel="stylesheet">
{% endblock %}

{% block js_block %}
<script src="{{rc.contextPath}}/assets/js/coode.subscribe.js"></script>
{% endblock %}

{% block content %}

<div id="coode-tags" class="container" >

        <div class="coode-panel-left col-md-8" style="height:300px;">
            <span class="coode-tag-title">已订阅标签库</span>
            <div style="display:inline;float:right;">
            <a href="{{rc.contextPath}}/home">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;订阅中心
            </div>
            <div class="coode-section"></div>
            <div class="row" id="coode-subscribed-tags">
            {%for tempVar in tagList2 %}
				      <span class="tag label label-default" id="{{tempVar.TID}}"><a  href={{rc.contextPath}}/tagsDetail2?tid={{ tempVar.TID }} >{{ tempVar.NAME }}</a><a class="tag-action hide"></a></span>
            {%endfor%}
            </div>
        </div>
        
        <div class="col-md-4 " style="padding-left:80px;">
	   		<div>
	   		<h4 class="coode-tag-erect">移动推送时间</h4><br/>
	   		</div>
	   		<div class="coode-tag-input ">
	   			<input  type="radio" name="prompt"/>任何时间推送
	   			<br/><br/>
	   			<div class="coode-tag-separator"></div>
	   			<br/>
	   			<input  type="radio" name="prompt"/>工作时间免打扰
	   			<br/>
	   			<p  class="coode-tag-p">09:00 - 12:00           13:00 - 17:00</p>
	   		</div>
	   		<br/>
	   		<div class="coode-tag-separator"></div>
	   		<br/>
	   		<input type="radio" >自定义免打扰时间</input>
	   		<ul>
	   			<li>13:00-17:00</li>
	   			<li>18:00-21:00</li>
	   		</ul>
	   </div>
	   
        <div class="coode-panel-right col-md-8" style="height:400px;" >
             <span class="coode-tag-title">未订阅标签库</span>
             <div class="coode-section"></div>

            <div class="row" id="coode-unsubscribed-tags">
			{%for tempVar in tagList %}
				      <span class="tag label label-default" id="{{tempVar.TID}}"><a  href={{rc.contextPath}}/tagsDetail2?tid={{ tempVar.TID }}>{{ tempVar.NAME }}</a><a class="tag-action hide"></a></span>
            {%endfor%}
            </div>
        </div>

</div>




{% endblock %}