{% extends "./layout/base.html" %}

{% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.home.css" rel="stylesheet">
<link href="{{rc.contextPath}}/assets/css/coode.tag.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-md-8">

    <ul class="nav nav-tabs" style="font-size:24px;">
        <li {% if schema |equal: 'article' %}class="active"{% endif %}><a href="{{rc.contextPath}}/tagsDetail2?s=article&tid={{tid}}" style="margin-left:35px;">看新闻</a></li>
        <li {% if schema |equal: 'qsh' %}class="active"{% endif %}><a href="{{rc.contextPath}}/tagsDetail2?s=qsh&tid={{tid}}" style="margin-left:65px;">随意聊</a></li>
        <li {% if schema |equal: 'idea' %}class="active"{% endif %}><a href="{{rc.contextPath}}/tagsDetail2?s=idea&tid={{tid}}" style="margin-left:65px;">有idea</a></li>
    </ul>

    <div class="divtype" >
		<a  href={{rc.contextPath}}/allSubNode {% if scope |equal: '1' %}class="choose"{% endif %} >我的订阅</a>
	    <span >|</span>
		<a  href={{rc.contextPath}}/home {% if scope |equal: '0' %}class="choose"{% endif %}>全部文章</a>
	</div>
	<div>
	        <form class="form-inline pull-right" >
          <select class="form-control" id="sort">
            <option {% if sort | equal :'0' %}selected {% endif %} >
              按时间排序
            </option>
            <option {% if sort | equal :'1' %}selected {% endif %}>
              按热度排序
            </option>
          </select>
        </form>
    </div>
    {% for node in nodes %}
    <dl class="node">
        <dt style="float: left; margin-right: 20px; margin-top: 0;font-size:18px;">
            {% if schema |equal: 'qsh' %}
         {% if  node.nodeType | equal : '2' %}[提问]{%endif%}
         {% if  node.nodeType | equal : '3' %}[分享]{%endif%}
         {% if  node.nodeType | equal : '4' %}[灌水]{%endif%}
            {% endif %}
            {% if schema |equal: 'article' %}
            <img src="{{node.topImage}}" width="150" height="110" >
            {% endif %}
        </dt>

        <dt>
            <a href="post?id={{node.id}}" style="font-size:18px;color:#000000">{{node.title}}</a>
        </dt>
        <dd id="summary" style="font-size:12px;color:#666666">{{node.summary}}...</dd>
        <dd id="tags" style="font-size:12px;">
          <span style="color:#999999;margin-top:20px;margin-bottom:20px;"> 标签：</span> 
            {% if node.tags |length |equal : "0"%}
            <small style="color:#79b9e6"> 木有标签</small>
            {% else %}
            {% for tag in node.tags %}
            #<span class="btn btn-sm" ><a href="{{rc.contextPath}}/tagsDetail2?tid={{tag.TID}}" style="color:#79b9e6;margin-top:20px;margin-bottom:20px;" >{{tag.NAME}}</a></span>
            {% endfor %}
            {% endif%}
        </dd>
        <dd id="extras" style="font-size:12px;">
            <img src="{{rc.contextPath}}/assets/images/icon-favorite.png" ><span style="cursor:pointer;color:#999999;margin-right:30px;margin-left:10px;" onclick="clk(this,{{node.id}});"> {{node.statFavorites}}</span>
            <img src="{{rc.contextPath}}/assets/images/icon-comment.png" ><span style="cursor:pointer;color:#999999;margin-left:10px;" >{{node.statReplies}} </span>
           <span class="pull-right"  style="color:#999999">{{node.date | date:"yyyy年MM月dd日"}}</span> <span class="pull-right"  style="color:#136096">{{node.from}}：</span>
        </dd>
    </dl>
    {% endfor %}

    {% if pager.count |equal: 0 %}
        <div>没有任何记录</div>
    {% endif %}


    <div class="row" style="text-align: center">
        {% if pager.empty | not %}
        <ul class="pagination">
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/tagsDetail2?p=1&s={{schema}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-first{% if pager.isFirst %}-disable{% endif %}.png">
                </a>
            </li>
            <li {% if pager.isFirst %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/tagsDetail2?p={{pager.prevPage}}&s={{schema}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-prev{% if pager.isFirst %}-disable{% endif %}.png">
                </a>
            </li>
            {% for i in pager.pageRange %}
            <li {% if i |equal: pager.currentPage %}class="active"{% endif %}>
                <a href="{{rc.contextPath}}/tagsDetail2?p={{i}}&s={{schema}}">{{i}}</a>
            </li>
            {% endfor %}
            <li {% if pager.isLast %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/tagsDetail2?p={{pager.nextPage}}&s={{schema}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-next{% if pager.isLast %}-disable{% endif %}.png">
                </a>
            </li>
            <li {% if pager.isLast %}class="disabled"{% endif %}>
                <a href="{{rc.contextPath}}/tagsDetail2?p={{pager.pageCount}}&s={{schema}}">
                    <img src="{{rc.contextPath}}/assets/images/pager-last{% if pager.isLast %}-disable{% endif %}.png">
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>

<div class="col-md-3 pull-right" id="right-sections">

<div   class="coode-tag-subsrcibe">
<div class="coode-tag-subsrcibe-one">
<h5 id="mark"> 标签：{{tagInfo.name}}</h5>
 <h5>订阅人数：{{tagInfo.statUser}}</h5>
 </div>
 <h5 id="tid" style="display:none" >{{tid}}</h5>
 
<div class="coode-tag-subsrcibe-two">
 {%if isSub | equal:'1'%}<button id="dy" type="button" class="mybtntwo">取消订阅</button>{% endif %}
 {%if isSub | equal:'0'%}<button id="dy" type="button" class="mybtn" >订阅</button>{% endif %}
</div>
</div>
<div >
<span style="border-left : 5px solid blue;width:50px;"></span>
<span style="margin-left: 5px; color: red;">相关人TOP5</span>
</div>
<div id="top5">
</div>

<div>
<span style="border-left : 5px solid blue;width:50px;"></span>
<span style="margin-left: 5px; color: red;">相关标签</span>
</div>
<div id="hot5tags">

</div>
</div>
{% endblock %}

{% block js_block %}

<script type="text/javascript" src="{{rc.contextPath}}/assets/js/coode.tag.js"></script>
<script type="text/javascript">
	$(function(){
		ajaxPost();
		hot5Tags();
	})
	
	$("#dy").click(function(){
		if($(this).attr('class') == 'mybtntwo'){
			delsubscibe();
			}else{
				subscibe();
			}
		})

function clk(ele,id){
		$.ajax({
			url:'{{rc.contextPath}}/addFav.json',
			type:'POST',
			dataType:'json',
			data : JSON.stringify({nodeId : id }),
			contentType: 'application/json'
		     }).done(function(data) {
				if(data.result == 0){
				$(ele).text(parseInt($(ele).text())+1);
				alert("收藏+1")
				}else{
					alert("已收藏")
					}
			     })
}

</script>
{% endblock %}