{% extends "../layout/base.html" %}

{% block css_block %}
<link href="{{rc.contextPath}}/assets/css/coode.tag.css"
	rel="stylesheet">
<link href="{{rc.contextPath}}/assets/css/coode.post.css"
	rel="stylesheet">
<link href="{{rc.contextPath}}/assets/css/coode.favorite.css" 
rel="stylesheet">
{% endblock %} 

{% block content %}
<div id="alertInfo"></div>
<div class="col-md-8">
	<ul class="nav nav-tabs"  style="font-size:24px;">
		<li {% if posttype | equal: 1 %}class="active"{% endif %}><a href="{{rc.contextPath}}/?s=article" style="margin-left:35px;">看新闻</a></li>
		<li {% if posttype | equal: 2 %}class="active"{% endif %}
			{% if posttype | equal: 3 %}class="active"{% endif %}
			{% if posttype | equal: 4 %}class="active"{% endif %}><a href="{{rc.contextPath}}/?s=qsh" style="margin-left:65px;">随意聊</a></li>
		<li {% if posttype |equal: 5 %}class="active"{% endif %}><a href="{{rc.contextPath}}/?s=idea" style="margin-left:65px;">有idea</a></li>
	</ul>
	<div class="tab-content">
		<div class="row">
			<div class="previouspage">
			{% if posttype|equal:1 %}
				<a href="{{rc.contextPath}}/?s=article">返回上一页>></a>
			{% endif %}
			
			{% if posttype | equal: 2 %}
				<a href="{{rc.contextPath}}/?s=qsh">返回上一页>></a>
			{% endif %}
			{% if posttype | equal: 3 %}
				<a href="{{rc.contextPath}}/?s=qsh">返回上一页>></a>
			{% endif %}
			{% if posttype | equal: 4 %}
				<a href="{{rc.contextPath}}/?s=qsh">返回上一页>></a>
			{% endif %}
			
			{% if posttype|equal:5 %}
				<a href="{{rc.contextPath}}/?s=idea">返回上一页>></a>
			{% endif %}
			</div>
		</div>
		
		<div class="page-header posttitle row">
			
  			<h1><small>{% if posttype | equal : 2 %}
				<span class="label label-warning" style="margin-right:10px;margin-bottom:5px;">问题</span>
			{% endif %}
			{% if posttype | equal : 3 %}
				<span class="label label-primary" style="margin-right:10px;margin-bottom:5px;">分享</span>
			{% endif %}
			{% if posttype | equal : 4 %}
				<span class="label label-default" style="margin-right:10px;margin-bottom:5px;">灌水</span>
			{% endif %}
			{% if posttype | equal : 5 %}
				<span class="label label-success" style="margin-right:10px;margin-bottom:5px;">Idea!</span>
			{% endif %}</small>{{post.title}}</h1>
		</div>	
		
		<div class="row">
			<div class="posttags">
				<label>标签：</label>
				<div id="tags">
				{% for tag in tags %}
					<span class="label label-info">{{tag.NAME}}</span>&nbsp;
				{% endfor %}
				</div>
			</div>
		</div>
		
		<div class="row" style="text-align:right">
			<div class="postinfo">
				<label class="watchuserinfo" author="{{post.created_by}}">
				{% if posttype | equal: 1 %}
					{{userinfo.from}}
				{% else %}
					<a href="{{rc.contextPath}}/ucbyid?userid={{post.created_by}}">{{userinfo.NICK_NAME}}</a>
				{% endif %}
				</label>
				<label> · {{post.created_at|date:yyyy-MM-dd hh:mm}}</label>
			</div>
		</div>
		
		<hr style="margin:5px"/>
		
		<div class="row">
			<div class="postcontent">
				<div>{{post.content}}</div>
			</div>
		</div>

		<br>
		<div class="row" style="text-align: right">
			<button id="favbtn" type="button" class="btn btn-default" style="padding:2px 7px 1px 7px;" {% if isFav |equal: '0' %}onclick="clk(this,{{post.id}});"{% else %}onclick="oclk(this,{{post.id}});"{% endif %}>
			 	<span  {% if isFav |equal: '1' %}class="glyphicon glyphicon-star"{% else %}class="glyphicon glyphicon-star-empty"{% endif %}  ></span> {{post.stat_favorites}}
			</button>
			<a type="button" class="btn btn-default" style="padding:2px 7px 1px 7px; margin-left:10px;" onclick="clk2();">
			 	<span class="glyphicon glyphicon-comment" ></span> {{post.stat_comments}}
			</a>
		</div>
		
		{% if editable | equal : 1 %}
		<div class="row">
			<a type="button" class="btn btn-primary btn-xs" href="post/edit?id={{post.id}}">编辑</a>

			<button id="delpost" class="btn btn-danger btn-xs"  data-toggle="modal" data-target="#delpostModal">删除</button>
			
			<!-- 由作者删除文章的提示框 -->
			<div class="modal fade" id="delpostModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" id="delete-modal-header">
							<h4 class="modal-title">
								<strong>删除文章</strong>
							</h4>
						</div>
						<div class="modal-body" id="delete-modal-body">
							<div class="alert alert-danger">
								<span>确认删除文章“<strong>{{post.title}}</strong>”吗？</span>
							</div>
							<div class="btn-groups" id="delete-btn-groups">
								<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-danger" id="deletepost">确定删除</button>
							</div>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>

		</div>
		{% endif %}
		</div>

		<hr />
		<!-- 发表评论区 -->
		<div class="post-comment">
			<div class="row">
				<div class="col-md-8">
					<h4>
						<strong>评论专区</strong>
					</h4>
				</div>
				<div class="col-md-4">
					<!-- Small button group -->
					<div id="commentsort" class="btn-group pull-right">
						<button class="btn btn-default btn-sm dropdown-toggle" type="button"
							data-toggle="dropdown">
							按时间排序 <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li role="presentation"><a sort="1">按时间排序</a></li>
							<li role="presentation"><a sort="2">按赞数排序</a></li>
							<li role="presentation"><a sort="3">按热度排序</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<form action="{{rc.contextPath}}/reply" method="post">
					<textarea id="ta" class="form-control" rows="3" name="content" maxlength="140"
						placeholder="不水能死何弃疗"></textarea>
					<input id="postid" type="hidden" name="postid" value="{{post.id}}" />
					<input id="replyid" type="hidden" name="commentid" value="{{post.id}}" />
					<input type="hidden" name="type" value="7" /> <br />
					<label for="fb" style="font-weight:normal">还可输入字数：<span id="num">140</span></label>
					<button id="fb" type="submit" class="btn btn-danger pull-right">发布</button>
				</form>
			</div>
		</div>
		<br />

		<div id="comments" class="row">
			{% for comment in comments %}
			<ul class="media-list">
				<li class="media">
				<!-- 评论已被删除  -->
				{% if comment.status | equal : 3 %}
					<div class="col-md-2">
						<a class="pull-left media-object thumbnail"
							href="" style="width: 90px; height: 90px; margin:0px;">
							<img src="..." alt="暂无图片">
						</a>
					</div>
					<div class="col-md-10 media-body well well-lg" style="padding:8px 14px 8px 6px; min-height:120px;">
						<div class="row" style="margin:25px 5px 25px 15px;text-decoration:line-through;">
							<div id="content{{comment.id}}">  对不起，该评论已被删除  </div>
						</div>
						
						<div class="row" style="text-align:right;">
							<a data-toggle="collapse" data-target="#demo{{comment.id}}" comment="{{comment.id}}">
								查看回复({{comment.stat_comments}})
							</a>
						</div>
						<div id="demo{{comment.id}}" class="row collapse" style="margin-top:10px;margin-left:8px;">
							{% for lv2comment in comment.commentlv2 %}
							<div id="comment{{lv2comment.id}}"  class="row" style="margin-top:5px;margin-bottom:5px;">
								<ul class="media-list">
									<li class="media" style="margin-top:0px;padding:5px;">
										<div style="text-align:center">
											<a class="watchuserinfo col-md-2 pull-left media-object thumbnail" href="ucbyid?userid={{lv2comment.created_by}}" style="margin-right:10px;" author="{{lv2comment.created_by}}">
										      <img style="width: 80px; height: 80px;" src="..." alt="暂无图片" >
										    </a>
									    </div>
										<div class="col-md-9 media-body well well-lg"  style="padding:5px;min-height:90px;">
											<div class="row">
												<h5><a class="watchuserinfo" href="ucbyid?userid={{lv2comment.created_by}}" style="float:left;text-align:right;margin:1px 10px 1px 5px;" author="{{lv2comment.created_by}}">{{lv2comment.reply_by.NICK_NAME}}</a></h5>
												<span style="float:left;font-size:0.7em;">{{lv2comment.created_at|date:yyyy-MM-dd hh:mm}}</span>
												<span style="float:right;">
													{% if userid | equal: lv2comment.created_by %}
													<button class="delcomment close"
														data-toggle="modal" data-target="#delComment"
														comment="{{lv2comment.id}}"
														url="{{rc.contextPath}}/delreply?replyid={{lv2comment.id}}">
														&times;
													</button>
													{% endif %}
												</span>
											</div>		
											<div class="row" style="padding:5px 5px 10px 15px;">
												<div id="content{{lv2comment.id}}">{{lv2comment.content}}</div>
											</div>
										</div>
									</li>		
								</ul>
							</div>
							{% endfor %}
							<form action="{{rc.contextPath}}/reply" method="post" >
								<textarea class="form-control" rows="3" name="content" maxlength="140"
									placeholder="不水能死何弃疗"></textarea>
								<input id="postid" type="hidden" name="postid" value="{{post.id}}" />
								<input id="replyid" type="hidden" name="commentid" value="{{comment.id}}" />
								<input type="hidden" name="type" value="7" />
								<button type="submit" class="addcomment btn btn-default" style="margin-top:10px; float:right">发布</button>
							</form>
						</div>
					</div>
					
				{% else %}
					<div class="col-md-2" style="text-align:center">
						<a class="watchuserinfo pull-left media-object thumbnail" href="ucbyid?userid={{comment.created_by}}" style="width: 90px; height: 90px;margin:0px;" author="{{comment.created_by}}">
							<img src="..." alt="暂无图片">
						</a>
						<a type="button" class="btn btn-default" style="padding:2px 4px 2px 4px;margin-top:5px;" onclick="clk3(this,{{comment.id}});">
						 	<span class="glyphicon glyphicon-heart-empty" >{{comment.stat_upvotes}}</span>
						</a>
					</div>
					<div id="comment{{comment.id}}" class="col-md-10 media-body well well-lg" style="padding:8px 14px 8px 6px; min-height:120px;">
						<a href="#comment{{comment.id}}"></a>
						<div class="row" style="margin-bottom:10px;">
							<h5><a class="watchuserinfo" href="ucbyid?userid={{comment.created_by}}" style="float:left;padding:0px 8px 1px 10px;" author="{{comment.created_by}}">{{comment.reply_by.NICK_NAME}}</a></h5>
							<span style="float:left;font-size:0.7em;">{{comment.created_at|date:yyyy-MM-dd hh:mm}}</span>
							<span style="float:right;">
								{% if userid | contain : comment.created_by %}
								<button class="delcomment close"
									data-toggle="modal" data-target="#delComment"
									comment="{{comment.id}}"
									url="{{rc.contextPath}}/delreply?replyid={{comment.id}}"
									style="float:right">
									&times;
								</button>
								{% endif %}
							</span>
						</div>
						<div class="row" style="padding:0px 5px 10px 15px;">
							<div id="content{{comment.id}}">{{comment.content}}</div>
						</div>
						
						<div class="row" style="text-align:right;">
							{% if comment.stat_comments | equal : 0 %}						
							<a data-toggle="collapse" data-target="#demo{{comment.id}}">评论</a>
							{% else %} 						
							<a data-toggle="collapse" data-target="#demo{{comment.id}}" comment="{{comment.id}}">
								查看回复({{comment.stat_comments}})并评论
							</a>						
							{% endif %}
						</div>
						
						<div id="demo{{comment.id}}" class="row collapse" style="margin-top:10px;margin-left:8px;">
							{% for lv2comment in comment.commentlv2 %}
							<div id="comment{{lv2comment.id}}" class="row" style="margin-top:5px;margin-bottom:5px;">
								<a href="#comment{{lv2comment.id}}"></a>
								<ul class="media-list">
									<li class="media" style="margin-top:0px;padding:5px;">
										<div style="text-align:center">
											<a class="watchuserinfo col-md-2 pull-left media-object thumbnail" href="ucbyid?userid={{lv2comment.created_by}}" style="margin-right:10px;" author="{{lv2comment.created_by}}">
										      <img style="width: 80px; height: 80px;" src="..." alt="暂无图片" >
										    </a>
									    </div>
										<div class="col-md-9 media-body well well-lg"  style="padding:5px;min-height:90px;">
											<div class="row">
												<h5><a class="watchuserinfo" href="ucbyid?userid={{comment.created_by}}" style="float:left;text-align:right;margin:1px 10px 1px 5px;" author="{{lv2comment.created_by}}">{{lv2comment.reply_by.NICK_NAME}}</a></h5>
												<span style="float:left;font-size:0.7em;">{{lv2comment.created_at|date:yyyy-MM-dd hh:mm}}</span>
												<span style="float:right;">
													{% if userid | equal: lv2comment.created_by %}
													<button class="delcomment close"
														data-toggle="modal" data-target="#delComment"
														comment="{{lv2comment.id}}"
														url="{{rc.contextPath}}/delreply?replyid={{lv2comment.id}}">
														&times;
													</button>
													{% endif %}
												</span>
											</div>		
											<div class="row" style="padding:5px 5px 10px 15px;">
												<div id="content{{lv2comment.id}}">{{lv2comment.content}}</div>
											</div>
										</div>
									</li>		
								</ul>
							</div>
							{% endfor %}
							<form action="{{rc.contextPath}}/reply" method="post" >
								<textarea class="form-control" rows="3" name="content" maxlength="140"
									placeholder="不水能死何弃疗"></textarea>
								<input id="postid" type="hidden" name="postid" value="{{post.id}}" />
								<input id="replyid" type="hidden" name="commentid" value="{{comment.id}}" />
								<input type="hidden" name="type" value="7" />
								<button type="submit" class="addcomment btn btn-default" style="margin-top:10px; float:right">发布</button>
							</form>
						</div>
					</div>
				{% endif %}				
				</li>
			</ul>
			{% endfor %}
		</div>

		<!-- Modal delete comment -->
		<div class="modal fade" id="delComment" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<h4 class="modal-title">确认删除评论？</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-danger">
							</span>确认删除评论“<strong id="commentcontent"></strong>”吗？(评论内容将被彻底删除不可恢复)
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<a id="delcommentcontent" href="" class="btn btn-danger btn-lg">确认删除</a>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
	</div>
	
	<div class="col-md-3 pull-right" id="right-sections">
	    <div class="row section" id="profile-img">
	        <div class="col-md-4">
	            <a href="{{rc.contextPath}}/ucbyid?userid={{userinfo.ID}}"><img id ="userphoto" src="{{rc.contextPath}}/assets/photo/{{userinfo.HEAD_ID}}" ></a>
	        </div>
	        <div class="col-md-8">
	            <a href="{{rc.contextPath}}/ucbyid?userid={{userinfo.ID}}"><strong id="nickname" style="font-size:20px; color:#333333;">{{userinfo.NICK_NAME}}</strong></a>
	            <p id = "dept" style="font-size:14px; color:#999999;">
	            {% if userinfo.DEPT_VISIBLE | equal : 0 %}
	            	部门不可见
	            {% else %}
	            	{{userinfo.DEPT}}
	            {% endif %}</p>
	            <p style="font-size:14px; color:#ffae00;">活跃天数 103</p>
	        </div>
	    </div>
	
	    <div class="row" id="profile-data">
	        <div class="col-md-4">
	            <p style="font-size:12px; color:#cccccc;">发帖</p>
	            <p id="statpost" style="font-size:20px; color:#666666;">{{userinfo.STAT_POST}}</p>
	        </div>
	        <div class="col-md-4">
	            <p style="font-size:12px; color:#cccccc;">回帖</p>
	            <p id = "statreply" style="font-size:20px; color:#666666;">{{userinfo.STAT_REPLY}}</p>
	        </div>
	        <div class="col-md-4">
	            <p style="font-size:12px; color:#cccccc;">威望</p>
	            <p id ="credit" style="font-size:20px; color:#666666;">{{userinfo.CREDIT}}</p>
	        </div>
	    </div>
	</div>

	<div id="favpage">
  <div 
      class="modal fade"
      id="createfavModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            创建收藏夹
          </h4>
        </div>
        <div class="modal-body">
          <form action="{{rc.contextPath}}/createfav" method="post">
            <span>
              收藏夹名称：
            </span>
            <input type="text" name="favoritename" placeholder="输入收藏夹名称"/>
            <br />
            <div class="btn-groups">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                取消
              </button>
              <button type="submit" class="btn btn-primary" id = "createfav">
                确认创建
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  </div>
  <!-- /.modal -->

{% endblock %} 

{% block js_block %}
<script type="text/javascript">
	var activeposttype = 0;
	if({{posttype}} > 1 && {{posttype}} < 5)
		activeposttype = 1;
	var APP = {
		login : '{{login}}',
		userid : '{{userid}}',
		update : '{{update}}',
		posttype : '{{posttype}}',
		postid : '{{post.id}}',
		authorid : '{{post.created_by}}',
		sort : '1'
	};

	console.log(APP['postid']);

	function clk(ele,id){
		$.ajax({
			url:'{{rc.contextPath}}/addFav',
			type:'POST',
			data : {nodeId : id },
			success : function(html){
		              $("#alertInfo").append(html);
		              $("#favpage .modal.fade:first").modal('show');
				}
		     })
	}

	function oclk(ele,id){
		location.href = app.contextPath + "/delFav?nodeId="+id;
		}
	function clk2(){
		$("#ta").focus();
			}

	function clk3(ele,id){
		$.ajax({
			url:'{{rc.contextPath}}/addVote.json',
			type:'POST',
			dataType:'json',
			data : {commentId : id }
		     }).done(function(data) {
				if(data.result == 0){
				$(ele).find("span").text(parseInt($(ele).find("span").text())+1);
				alert("点赞+1")
				}else{
					alert("已点赞")
					}
			     })
		}
</script>
<script src="{{rc.contextPath}}/assets/js/coode.post.js"></script>
<script src="{{rc.contextPath}}/assets/js/coode.favPost.js"></script>
{% endblock %}
